main,
nav {
  display: block;
}

img {
  float: right;
}

body {
  font-family: "Halant", serif;
  font-size: 14px;
}

p {
  width: 80%;
}

h1 {
  font-weight: bolder;
  font-size: 30px;
}

main {
  position: absolute; /* so if we want to move the <main> around 
                        we need to style it into a position property */
  margin-left: 235px;
  margin-top: 50px;
}

nav {
}
