* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Gideon Roman", cursive;
  background-color: #ffffff;
}

#nav {
  width: 100%;
  background-color: #158cc0;
  padding: 10px;
  color: #ffffff; /*this makes the | turn white, not the text*/
}

#nav a {
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
}

#heading1 {
  text-align: center;
}

#heading1 h1 {
  color: #158cc0;
  font-size: 50px;
  font-family: "Abel", sans-serif;
  text-align: center;
  padding: 5px;
  margin: 5px;
}

#heading-image {
  background-image: url(./images/shark-attacks.jpg);
  text-align: center;
  height: 400px;
  width: 100%;
  margin: 30px auto 25px auto;
  padding: 10px;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; /*if you want the image the flow with page use scroll*/
}

#sharkSemester {
  position: relative;
  font-family: "Creepster", cursive;
  font-size: 9vw;
  text-align: center;
  opacity: 0.7;
  color: white;
  margin: 50px auto auto auto;
  top: 20%;
  letter-spacing: 20px; /*or use 2vw so fonts won't stack. In other words, px forces font stacking.*/
}

h2 {
  color: #158cc0;
  padding: 10px;
  font-size: 2em;
  text-align: center;
}

#topleft {
  float: left;
  width: 40%;
  margin: 5%;
  /* margin-left: 100px;
  width: 50%;
  margin-bottom: 30px; */
}

#topright {
  float: right;
  width: 40%;
  margin: 5%;
  /*margin-right: 100px;
  width: 40%; */
}

@media screen and (max-width: 800px) {
  #topleft {
    width: 90%;
  }
  #topright {
    clear: both;
    float: none;
    width: 90%;
  }

  h2 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 30px;
    color: darkblue;
  }
}

#css-Table {
  display: table;
  border: 1px dotted rgb(217, 237, 249);
  background-color: rgba(217, 237, 249, 0.4);
  width: 80%;
  margin-top: 100px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  clear: both;
}

ol li {
  list-style-type: none;
  margin: 10px;
}

#video {
  text-align: center;
  width: 100%;
  margin-bottom: 100px;
}
video {
  width: 90%;
  border-radius: 10px;
}

footer {
  text-align: center;
  color: white;
  background-color: #158cc0;
  padding: 15px;
}
